@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
    font-family: 'Barlow Condensed', sans-serif;
}

header {
    max-width: 1470px;
    margin: auto;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    height: 250px;
}

h1.title {
    margin: 0;
    font-family: monospace;
    font-size: 3em;

}

.flexdiv {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.inp-search, .btn-search, .btn-advanced, .btn-random {
    width: 150px;
    margin: 10px;
    font-size: 0.5em;
}

.inp-search {
    width: 250px;
}

.invisible {
    display: none !important;
}

main {
    max-width: 1300px;
    margin: auto;
}

.beer-info {
    background-color: white;
    border: black 1px solid;
    box-shadow: 5px 5px 5px grey;
    top: 25%;
    left: 20%;
    right: 20%;
    position: fixed;
    padding: 30px;
    display: flex;
}
.info-ul {
    padding-left: 25px;
}
.info-li {
    padding: 0 0 10px;
}
.info-img {
    height: 400px;
    margin-left: 20px;
}
.adv-search {
    width: 100%;
    display: flex;
}

.adv-form {
    margin: 50px auto;
    width: 500px;
    display: block;
}

.adv-search-results {
    margin: 50px auto;
    width: 100%;
    /* background-color: lightgray; */
    padding-left: 100px;

}

.adv-search-results ul {
    width: 100%;
    list-style: none;
    padding-left: 0px;
    font-size: 1.3em;
}

.adv-search-results li {
    margin: 10px 0;
    border-bottom: 1px solid black;
}

.adv-form input {
    width: 90%;
    font-size: larger;
    margin-bottom: 20px;
}

.adv-form label {
    font-size: 1.2em;
}

.adv-form > input[type=button] {
    display: block;
    width: 100px;
    margin: auto;
}

.beer-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-gap: 1rem;
    justify-content: space-between;
    font-size: 1.2em;
}

.beer-gallery::after {
    content: "";
    flex: auto;
    flex-basis: content;
}

.beer-holder {
    margin: 20px 10px;
    width: 213px;
    height: 340px;
    border: lightgray 1px solid;
    box-shadow: 5px 5px 5px gray;
    font-family: 'Barlow Condensed', sans-serif;
}

div.title,
.beer-holder>p {
    margin: 10px 20px;
}

div.title {
    height: 60px;
}

div.title>h4 {
    margin: 0;
}

.beerholder:hover {
    cursor: pointer;
}

.imgcontainer {
    background-color: whitesmoke;
    padding: 10px 0;
    text-align: center;
    height: 200px;
}

.imgcontainer>img {
    height: 100%;
}

@media only screen and (max-width: 1300px) {
    header {
        max-width: 1125px;
    }

    main {
        max-width: 1045px;
    }
}

@media only screen and (max-width: 1040px) {

    main,
    header {
        max-width: 790px;
    }
}

@media only screen and (max-width: 785px) {
    main {
        max-width: 530px;
    }
}

@media only screen and (max-width: 529px) {
    header>h1 {
        font-size: larger;
    }

    main>div.display {
        display: block;
        /* 1 */

    }

    .beer-holder {
        width: 92%;
    }

    .flexdiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flexdiv input {
        width: 75%;
    }

    .flexdiv>input.inp {
        width: 73%;
    }
}