@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
    font-family: 'Barlow Condensed', sans-serif;
}

header {
    max-width: 1470px;
    margin: auto;
    text-align: center;
    font-size: 2em;
    font-family: monospace;
    text-transform: uppercase;
}

header>h1 {
    margin: 0;
}

.flexdiv {
    display: flex;
    justify-content: space-around;
}

.flexdiv input {
    width: 150px;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 10px;
    font-size: 0.5em;

}

.flexdiv>input.inp {
    width: 250px;
}

main>.invisible {
    display: none !important;
}

main {
    max-width: 1300px;
    margin: auto;
}

.beerinfo {
    position: absolute;
    z-index: 99;
    background-color: white;
    width: 38%;
    height: 60%;
    border: black 1px solid;
    box-shadow: 5px 5px 5px grey;
    top: 18%;
    left: 34%;
}

main>.advanced {
    width: 100%;
    display: flex;
    /* margin: auto; */
}

main>.advanced>form {
    /* background-color: lightgray; */

    margin: 50px auto;
    width: 500px;
    display: block;
}

main>.advanced>.results {
    margin: 50px auto;
    width: 100%;
    /* background-color: lightgray; */
    padding-left: 100px;

}

.results ul {
    width: 100%;
    list-style: none;
    padding-left: 0px;
    font-size: 1.3em;
}

.results li {
    margin: 10px 0;
    border-bottom: 1px solid black;
}

/* .results li:nth-child(odd) {
    background-color: lightgreen;
} */
form input {
    width: 90%;
    font-size: larger;
    margin-bottom: 20px;
}

form label {
    font-size: 1.2em;
}

form>input[type=button] {
    display: block;
    width: 100px;
    margin: auto;
}

main>div.display {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-gap: 1rem;
    justify-content: space-between;
    font-size: 1.2em;
}

main>div.display::after {
    content: "";
    flex: auto;
    flex-basis: content;
}

.beercontainer {
    /* display: table-cell; */
    margin: 20px 10px;
    width: 213px;
    height: 340px;
    border: whitesmoke 1px solid;
    box-shadow: 5px 5px 5px whitesmoke;
    font-family: 'Barlow Condensed', sans-serif;
}

div.title,
.beercontainer>p {
    margin: 10px 20px;
}

div.title {
    height: 60px;
}

div.title>h4 {
    margin: 0;
}

.beercontainer:hover {
    cursor: pointer;
}

.imgcontainer {
    background-color: whitesmoke;
    padding: 10px 0;
    text-align: center;
    height: 200px;
}

.imgcontainer>img {
    height: 100%;
}

@media only screen and (max-width: 1300px) {
    header {
        max-width: 1125px;
    }

    main {
        max-width: 1045px;
    }
}

@media only screen and (max-width: 1040px) {

    main,
    header {
        max-width: 790px;
    }
}

@media only screen and (max-width: 785px) {
    main {
        max-width: 530px;
    }
}

@media only screen and (max-width: 529px) {
    header>h1 {
        font-size: larger;
    }

    main>div.display {
        display: block;
        /* 1 */

    }

    .beercontainer {
        width: 92%;
    }

    .flexdiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flexdiv input {
        width: 75%;
    }

    .flexdiv>input.inp {
        width: 73%;
    }
}